numpy==1.16.5
streamlit==0.61.0
pandas==0.25.1
sklearn==0.21.3
xgboost==1.1.1
PIL==6.2.0
json==2.0.9
re==2.2.1
jieba==0.42.1
matplotlib==3.1.1
lightgbm==2.3.1
wordcloud==1.7.0
sys
pickle
textrank4zh



